body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100vh;
}


img {
    width: 100px;
    height: 100px;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 16px;
}

.header div {
    font-size: 24px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section1 {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 .left {
    flex: 1;
    padding-left: 100px;
}

.section1 .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 5px;

}

.section1 button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
}

.section1 p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 5px;
    margin-bottom: 5px;
}

.section2 {
    display: flex;
    flex-direction: column;
}

.section2content {
    display: flex;
    justify-content: center;
}

.format {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    text-align: center;
    margin-top: 8px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.section2 img {
    border: 2px solid #3882F6;
    border-radius: 8px;
}

.section3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section3 div {
    width: 700px;
}

.p1 {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 5px;
}

.p2 {
    margin-top: 5px;
    text-align: right;
}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    background-color: #3882F6;
    display: flex;
    padding: 16px 64px 16px;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    border-radius: 8px;
    height: 75px;
}

.right button {
    border: 1px solid #F9FAF8;
    background-color: #3882F6;
    color: #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    height: 50px;
}

